h1 {
  color: #fff;
}

input {
  font-style: italic;
  min-height: 10%;
}

.row-m-t{
  margin-top : .2%;
}

body {
  color: #fff;
  background-image: url("ep_naturalblack.png");
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  repeat;
  background-color: #cccccc;
}

#resultBox {
  display: none;
}

.btn-primary-salmon {
  color: #fff;
  background: rgba(118, 68, 196, 0.5);
}

.btn-primary-salmon:hover {
  color: #fff;
  background-color: rgba(203, 189, 225, 0.5);
}

@font-face {
  color: #fff;
  font-family: "Priscillia";
  src: url("PriscilliaScript.otf"),
  url('PriscilliaScript.woff') format('woff'),
  url('PriscilliaScript.ttf')  format('truetype'),
  url('PriscilliaScript.svg#PriscilliaScript') format('svg');
}
@font-face {
  color: #fff;
  font-family: "Montserrat";
  src: url('Montserrat-Regular.ttf');
}
